<div>
    <div>
    <% if (logged_in? and current_user.affiliation == "Admin")%>
      <h1>New User</h1>
    <% else %>
    <h1>New Student</h1>
    <%end %>
        
    </div>
  <%= render 'users/form', user:@user %>
  <%= link_to 'Back', users_path %>
</div>
