head{
  background-color: black;
  padding: 1px;
}
body {
  background-color: black;
  color: lightblue;
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
   "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
  "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
  "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 1px;
  text-align: center;
  
}

h1 , h4 {
  text-align: left;
}

ul {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  color: white;
  list-style-position: inside;
  margin-left: 2px;
  padding: 1px;
}

li {
  background-color: rgb(15,15,15);
  list-style: none;
  padding: 1px;
}



table {
  background-color: black;
  border: 1px solid;
  /* border-collapse: collapse;                alternative look*/
  color: white;
  overflow-x:auto;
  width: 100%;
}

.flex-container-vertical {
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-container-horizontal {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Stripes styling for lists*/
li:nth-child(even){
  background-color: 	rgb(25, 0, 0);
}

th, td {
  border: 1px solid black;
}

th {
  height: 2em;
}

/*Chess-board pattern styling for the table*/
tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) th:nth-child(odd){
  background-color: rgb(30,10,10);
}

tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even), tr:nth-child(odd) th:nth-child(even){
  background-color: rgb(30,30,30);
}

/*Group together two lists in order to use horizontal space more effectively*/
.doubleList {
  float: left;
  width: 50%;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: rgb(100, 0, 0);
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}


/*Navigation bar*/
#menu {
  background: white;
  border-style: solid;
  border-width: 0 0 1px 1px;
  margin-top: 0;
  opacity: 0.35;
  position: fixed;
  right: 0;
  top: 5%;
  width: 8em;
}

#menu:hover {
	opacity: 1;
}

#menu li{
  height: 1.5em;
  list-style: none;
}
#menu ul{
  border: black;
}
#menu li:hover a {
  color: black;
}
#menu li:hover {
  background-color: white;
}

#menu a{
  color: white;
  text-decoration: none;
}

/*Picture in the index footer*/
#BottomPicture {
	max-height: 18.65em;
}