body {
  background-image: radial-gradient(white, black);
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
	padding: 1px;

}

h1 {
	background-image: linear-gradient(black, white);
	margins: 1px;
	height: 2em;
}

ul {
	list-style-position: inside;
	text-align: left;
	float: left;
	padding: 2px;
}

li {
	background-color: gray;
	padding: 2px;
}

li:nth-child(even) {
	background-color: maroon;
}

table {
	border: 1px solid black;
	/* border-collapse: collapse;                alternative look*/
	background-color: maroon;
	width: 100%;
	overflow-x:auto;
}

th, td {
	border: 1px solid black;
}

th {
	height: 2em;
}

tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) th:nth-child(odd){
	background-color: gray;
}

th:nth-child(even) {
	background-color: maroon;
}

.activities, .awards, .funding {
	width: 33%;
	float: left;
	margin-left: 0em;
	
}


a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}
