body {
  background-image: white;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
  "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
  "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
  "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
  padding: 1px;
  text-align: left;
}

h1 {
  //background-image: linear-gradient(black, white);
  margins: 1px;
  height: 2em;
  text-align: center;
}

h2, h3 {
	text-align: center;
}

ul {
  list-style-position: inside;
  text-align: left;
  /*float: left;*/
  padding: 0px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin-left: 2px;
  color: white;
  text
}
#mainTable{
  width: 100%;
}
li {
  background-color: #404040;
  padding: 1px;
  border-width: 1px 1px;
  border-style: solid;
  border-color: black;
  list-style: none;
}



table {
  border: 1px solid black;
  /* border-collapse: collapse;                alternative look*/
  background-color: black;
  width: 100%;
  overflow-x:auto;
  color: white;
  text-align: center;
}

li:nth-child(even){
  background-color: 	#C0C0C0;
}

th, td {
  border: 1px solid black;
}

th {
  height: 2em;
}

tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) th:nth-child(odd){
  background-color: rgb(64,64,64);
}

tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even), tr:nth-child(odd) th:nth-child(even){
  background-color: maroon;
}

th:nth-child(even) {
  background-color: maroon;
}

.activities, .awards, .funding {
  width: 33%;
  float: left;
  margin-left: 0em;

}
.DoubleList, .semester {
	width: 50%;
	float: left;
}

a {
  color: black;
  &:visited{
    color: whitesmoke;
  }
  &:focus,
  &:hover {
    color: White;
  }
}
a:visited{
  color: gray;
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}


#menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 8em;
  margin-top: 0;
  border-style: solid;
  border-width: 0 0 1px 1px;
  background: white;
  opacity: 0.2;

}

#menu:hover {
	opacity: 1;
}

#menu li{
  list-style: none;
}
#menu ul{
  border: black;
}
#menu li:hover a {
  color: black;
}
#menu li:hover {
  background-color: white;
}

#menu a{
  color: white;
  text-decoration: none;
  &:visited {
    color: white;
  }
  &:hover{
    text-decoration: underline;
  }

}

